<div id="gtco-features">
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
                    <h2 class="cursive-font">Como funciona</h2>
                    <p>Para melhor tratativa nossos clientes devem entrar em contato via telefone ou nos enviando
                         seu e-mail para contato</p>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i>1</i>
                            </span>
                            <h3>Eventos Religiosos</h3>
                            <p>Cobrimos todo e qualquer tipo de evento religioso na cidade e região.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i>2</i>
                            </span>
                            <h3>Excurções e Viagens</h3>
                            <p>Também trabalhamos com excurções e passeios agendados em outras cidades e estados.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="feature-center animate-box" data-animate-effect="fadeIn">
                            <span class="icon">
                                <i>3</i>
                            </span>
                            <h3>Transporte Universitário</h3>
                            <p>Nossa frota tambem esta destinada a transporte de univesitários no trajeto Pimenta Bueno -> Cacoal.</p>
                        </div>
                    </div>
                
                </div>
        </div>
    </div>